html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
    font-family: 'roboto', sans-serif;
    line-height: 1.5; 
  }
  
  #root {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  
  .linkedin-share-button {
    cursor: pointer;
  }
  
  .linkedin-share-button:hover:not(:active) {
    opacity: 0.75;
  }

  .swiper-pagination-bullet {
    color: white;
    background-color: gray;
  }


  .first-letter {
    float: left; 
    font-size: 2rem; 
    line-height: 0.5; 
    margin-right: 0.1rem; 
  }